/* * {
  margin: 0;
  padding: 0;
} */

body {
  height: 50000px;
}

/* #overlay {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100vw;
  background-image: url("../img/bg.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: 0 0;
} */
