body {
  /* width: 5000px; */
  font-family: Arial, Helvetica, sans-serif;
}
section{
  position: relative;
  width: 100vw;
  margin:auto;
}
.header{
  margin-left: 20%;
  margin-top: -20%;
}

main{
  display: grid;
  grid-template-columns: 150vw repeat(4,100vh);
  align-items: center;
  height: 90vh;
}



.card{
  margin:auto;
  width: 300px;
  background-color: gray;
  background-color: rgb(125, 236, 111);
  padding: 2rem;
  border-radius: 0.5rem;
}

.contact{
  border-radius: 1rem;
}

label{
  display: block;
}

.contact ul{
  padding: 0;
  list-style-type: none;
}